body{
  margin: 0;
  padding: 0;
  background-color: #E3ECF5;
}
html {
  scroll-behavior: smooth;
}
.hautpage img{
  width: 100%;
}
.hautpage{
  display: inline-block;
  position: relative;
  width: 100%;
}
.headerh1 {
  background-color: #289dd2;
  position: absolute;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 15px;
  color: white;
  width: 95%;
}

h1 {
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  font-family: 'Martel', serif;
}
nav{
  position: fixed;
  bottom: 0;
  background-color: #365b6d;
  width: 100%;
  z-index: 1;
  text-transform: capitalize;
  box-shadow: 0px -7px 7px 1px rgba(0,0,0,0.71);
  -webkit-box-shadow: 0px -7px 7px 1px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px -7px 7px 1px rgba(0,0,0,0.71);
}
nav ul{
  letter-spacing: -0.25rem;
}
nav li{
  background-color: #365b6d;
  padding: 10px 0;
  text-align: center;
  letter-spacing: normal;
  display: inline-block;
  width: calc(100%/3);
}
nav a{
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}
.textekill{
  display: none;
}
a img{
  width: 40%;
}
nav li:hover{
  background-color: #899F11;
}
.button{
  text-align: center;
  text-decoration: none;
  margin: auto;
  }
.button a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Martel', serif;
  color: white;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: #289dd2;
  padding: 15PX;
  border-radius: 25px;
}
.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: 10px;
  top: 13px;
  transition: 0.5s;
}
.button a:hover {
  text-decoration: none;
  background-color: #899F11;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  padding: 15PX 30px;
  border-radius: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 10px;
  top: 13px;
}

#telechargement{
  margin: 4%;
  text-align: center;
  font-family: 'Martel', serif;
  text-transform: capitalize;
  color: #365b6d;
  font-size: 25px;
}

#competence{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  font-family: 'Martel', serif;
  color: #6c9286;
  text-transform: capitalize;
  font-size: 24px;
}
.competence{
  margin-top: 5%;
  background-color: white;
  width: 75%;
  border-top-right-radius: 200px;
}
/* tabulation */
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.fondu{
  width: 100%;
  background-color: #289dd2;
  border-radius: 0px 0px 25px 25px;
}
.fondu p{
  width: 78%;
  padding: 10px 40px;
  font-family: 'Assistant', sans-serif;
  font-size: 22px;
  color: white;
}
.fondu2{
  width: 100%;
  background-color: #289dd2;
  border-radius: 0px 0px 25px 25px;
}
.fondu2 img {
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}
.fondu img {
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}
.fondu2 p{
  width: 78%;
  padding: 10px 40px;
  font-family: 'Assistant', sans-serif;
  font-size: 22px;
  color: white;
}
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  cursor: pointer;
  display: block;
  border: 1px solid white;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 2%;
  font-size: 15px;
  text-transform: capitalize;
  font-family: 'Martel', serif;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 10px solid #365b6d;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 10px solid #365b6d;
  margin: 0;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  /* padding: 2rem 0; */
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 }
 .tabs .tab-2 {
  width: 50%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}
#text{
  padding: 1.5%;
  font-family: 'Martel', serif;
  font-size: 18px;
  text-align: center;
}
#exp{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  font-family: 'Martel', serif;
  color: #6c9286;
  text-transform: capitalize;
  font-size: 24px;
}
.exp{
  margin-top: 5%;
  background-color: white;
  width: 75%;
  height: 10%;
  border-top-right-radius: 200px;
}
div.scrollmenu {
  background-color: #365b6d;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

div.scrollmenu p {
  display: inline-block;
  color: white;
  width: 100%;
  border: 1px solid #289dd2;
  font-size: 20px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
}
.img{
  width: 100%;
  height: 231PX;
}
.img img{
  width: 100%;
  height: 230px;
  border: 1px solid #289dd2;
}

/* tabs form */

#form{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  font-family: 'Martel', serif;
  color: #6c9286;
  text-transform: capitalize;
  font-size: 24px;
}
.form{
  margin-top: 5%;
  background-color: white;
  width: 75%;
  height: 10%;
  border-top-right-radius: 200px;
}
.container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.container:before {
  content: '';
  width: 5px;
  height: 100%;
  background: #6c9286;
  position: absolute;
  left: 18px;
}

.job {
  background: white;
  padding: 4%;
  margin: 40px 56px;
  width: 207px;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
}

.job span {
  font-size: 25px;
  color: #365b6d;
}

.job:before {
  content: '';
  width: 20px;
  height: 20px;
  background: white;
  left: -10px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  position: absolute;
  z-index: -1;
  border: 2px solid #000;
}

.job:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #289dd2;
  border-radius: 50%;
  border: 4px solid #313131;
  left: -19%;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  position: absolute;
}
.job img{
  width: 100%;
}
.job h4{
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
  padding-bottom: 4%;
  text-transform: capitalize;
}
.sous{
  width: 100%;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  position: absolute;
  background-color: #365b6d;
  bottom: 100%;
  left: 0;
  box-shadow: 0px -7px 7px 1px rgb(0 0 0 / 71%);
  -webkit-box-shadow: 0px -7px 7px 1px rgb(0 0 0 / 71%);
  -moz-box-shadow: 0px -7px 7px 1px rgba(0,0,0,0.71);
}
nav> ul li:hover .sous{
  display: block;
}
.sous li{
  margin-top: 2%;
  margin-bottom: 2%;
  float: none;
  width: 100%;
  text-align: center;
}
.sous a{
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: #899F11;
}
.textnav{
  font-size: 22px;
  font-family: 'Martel', serif;
}

#portf{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  font-family: 'Martel', serif;
  color: #6c9286;
  text-transform: capitalize;
  font-size: 155%;
}
.portf{
  margin-top: 5%;
  background-color: white;
  width: 75%;
  height: 10%;
  border-top-right-radius: 200px;
}
.tableau{
  width: 100%;
}
.tableau p{
  width: 50%;
  padding: 0 4%;
  font-size: 45px;
  font-family: 'Assistant', sans-serif;
  text-transform: capitalize;
}
input{
  display: none;
}

.icon-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  opacity: 0;
  z-index: -1;
  left: 0px;
  top: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#icon-ba:checked ~ .icon-bar{
  opacity: 1;
  z-index: 1;
}

/* Style the icon bar links */
.icon-bar a{
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: calc(100% / 5);
  box-sizing: border-box;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.logo img{
  width: 40%;
}
@media only screen and (min-width: 767px) {
    h1{
      font-size: 35px;
      padding: 10px;
    }
    #telechargement {
      font-size: 50px;
    }
    .button a {
      font-size: 45px;
      padding: 20PX;
      border-radius: 50px;
    }
    .button:hover a:after {
      right: 9px;
      top: 14px;
    }
    .button a:hover {
      padding: 15PX 46px;
      border-radius: 50px;
    }
    #competence {
      font-size: 45px;
    }
    #exp {
      font-size: 45px;
    }
    .tabs [class^="tab"] label, .tabs [class*=" tab"] label {
      font-size: 35px;
    }
    div.scrollmenu p {
      font-size: 40px;
    }
    .img {
      height: 400PX;
    }
    .img img {
      height: 400px;
    }
    #form{
      font-size: 45px;
    }
    .container:before {
      content: '';
      width: 10px;
      left: 15px;
    }
    .job {
      padding: 6%;
      margin: 44px 110px;
      width: 487px;
      border-radius: 46px;
    }
    .job:before {
      width: 40px;
      height: 40px;
      left: -24px;
    }
    .job:after {
    content: '';
    width: 30px;
    height: 30px;
    }
    .job span {
      font-size: 50px;
    }
    .job h4 {
      font-size: 32PX;
    }
    .textnav {
      font-size: 50px;
    }
    .fondu p{
      padding: 20px 40px;
      font-size: 40px;
    }
    .fondu2 p{
      padding: 20px 40px;
      font-size: 40px;
    }
    .icon-bar a {
      font-size: 50px;
    }
}
@media only screen and (min-width: 1024px) {
    nav{
      position: sticky;
      width: 100%;
      margin-top: -10px;
      top: 0px;
      box-shadow: none;
      -webkit-box-shadow: 0px 7px 7px rgba(50, 50, 50, 1);
      -moz-box-shadow:    0px 7px 7px rgba(50, 50, 50, 1);
      box-shadow:         0px 7px 7px rgba(50, 50, 50, 1);
    }
    .logo{
      display: none;
    }
    nav ul{
      max-width: 1280px;
      margin: auto;
    }
    .textekill{
      display: block;
      font-family: 'Martel', serif;
      font-size: 150%;
      padding: 2%;
      color: white
    }
    a img{
      display: none;
    }
    .headerh1 {
      background: #289dd2;;
      position: absolute;
      text-align: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 15px;
      color: white;
      width: 65%;
    }
    h1 {
      padding: 10px;
      text-transform: uppercase;
      font-size: 13px;
    }
    #telechargement {
      font-size: 25px;
      margin: 2%;
    }
    button a{
      font-size: 200%;
    }
    .competence{
      margin-top: 2%;
      width: 50%;
    }
    #competence {
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 1%;
      font-size: 200%;
    }
    .tabs [class^="tab"] label, .tabs [class*=" tab"] label {
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      font-size: 151%;
    }
    .sous{
      max-width: 426.66px;
      top: 61.06px;
      position: absolute;
      bottom: auto;
      left: auto;
      box-shadow: none;
    }
    /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
    .icon-bar {
      display: block;
      width: auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .icon-bar a {
    display: block;
    width: auto;
    }
}

@media only screen and (min-width: 76px)
